---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="homepage">

  <div class="block-left">
    <div class="content">
      <div class="main-info">
        <h1>
          {{ site.title }}
        </h1>
        <h2>
          This is the personal blog of SereneWraith
        </h2>
        {% include social-links.html %}
      </div>
    </div>
    <canvas></canvas>
  </div>

  <div class="block-right">
      <div class="navbutton">
      <a href="../posts.html" title="posts">[BLOG]</a>
      <a href="https://serenewraith.github.io" title="posts">[HOME]</a>
        <span></span>
</a>
</div>
        <div class="content">
      <div class="about-info">
        {{ content }}
      </div>
</div>
  </div>
  {% include overlay.html %}
  {% include scripts.html %}
  <script src="{{ site.url }}/assets/js/canvas.js"></script>
</body>
</html>
